.Main {
  display: flex;
  /*flex-direction: column;*/
  z-index: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}

.LogIn {
  display: flex;
  z-index: 1;
  position: absolute;
}

.background {
  display: flex;
  z-index: 0;
  position: relative;
}
